<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ViiniConnectionString1" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Viini;Persist Security Info=True;User ID=koodari;Password=koodari13" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SMLiiga.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="DemoxOyConnectionString" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;User ID=koodari;Password=koodari13" providerName="System.Data.SqlClient" />
    <add name="DemoxOyEntities" connectionString="metadata=res://*/App_Code.juuso.csdl|res://*/App_Code.juuso.ssdl|res://*/App_Code.juuso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eight.labranet.jamk.fi;initial catalog=DemoxOy;user id=koodari;password=koodari13;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      
    </authentication>
  </system.web>
  <appSettings>
    <add key="DefaultAge" value="35" />
    <add key="DefaultPayment" value="3000" />
    <add key="DefaultBackground" value="#FF112" />
    <add key="finnkinoteatterit" value="http://www.finnkino.fi/xml/TheatreAreas/" />
    <add key="finnkinoelokuvat" value="http://www.finnkino.fi/xml/Schedule/?area=" />
    <add key="rssfeeditMS" value="http://www.microsoft.com/presspass/rss/TopStory.xml" />
    <add key="rssfeeditSF" value="http://www.suomikiekko.com/category/smliiga/feed/" />
    <add key="rssfeeditIS" value="http://www.iltasanomat.fi/rss/uutiset.xml/" />
    <add key="connStr" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Aleksi\Documents\GitHub\viikkotehtava-1\App_Data\SMLiiga.accdb;Persist Security Info=False;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>