<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ViiniConnectionString1" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=Viini;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="DefaultAge" value="35" />
    <add key="DefaultPayment" value="3000" />
    <add key="DefaultBackground" value="#FF112" />
    <add key="finnkinoteatterit" value="http://www.finnkino.fi/xml/TheatreAreas/" />
    <add key="finnkinoelokuvat" value="http://www.finnkino.fi/xml/Schedule/?area=" />
    <add key="rssfeeditMS" value="http://www.microsoft.com/presspass/rss/TopStory.xml" />
    <add key="rssfeeditSF" value="http://www.suomikiekko.com/category/smliiga/feed/" />
    <add key="rssfeeditIS" value="http://www.iltasanomat.fi/rss/uutiset.xml/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>